$breakpoint-mobile-s: 320px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-l: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-l: 1440px;
$breakpoint-desktop-xl: 1920px;

@mixin respond-to-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin respond-to-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin respond-to-desktop-large {
  @media (min-width: $breakpoint-desktop-l) {
    @content;
  }
}

@mixin respond-to-desktop-xl {
  @media (min-width: $breakpoint-desktop-xl) {
    @content;
  }
}

@mixin respond-between($min, $max) {
  @media (min-width: $min) and (max-width: $max - 1px) {
    @content;
  }
}
