<footer class="footer">
  <div class="container">
    <div class="footer__contact">
      <p><strong>Información de contacto</strong></p>
      <p>Email: <a href="mailto:info@jornadas-canarias.com">info@jornadas-canarias.com</a></p>
      <p>Teléfono: <a href="tel:+34922123456">+34 922 123 456</a></p>
      <p>Ubicación: Santa Cruz de Tenerife, Islas Canarias</p>
    </div>

    <hr class="footer__divider">

    <div class="footer__bottom">
      <a href="index.html" class="footer__logo logo" aria-label="Volver a inicio">
        <img src="./assets/images/jctc.svg" alt="Logo JCTC" class="logo__image">
        <span class="logo__text">JCTC 2025</span>
      </a>

      <nav aria-label="Navegación del pie de página">
        <ul class="footer__nav">
          <li><a href="index.html" class="footer__nav-link">Inicio</a></li>
          <li><a href="speakers.html" class="footer__nav-link">Ponentes</a></li>
          <li><a href="article.html" class="footer__nav-link">Artículos</a></li>
          <li><a href="#" class="footer__nav-link">Concurso al Mejor Plato</a></li>
        </ul>
      </nav>

      <ul class="social-icons" aria-label="Redes sociales">
        <li class="social-icons__item">
          <a href="https://plus.google.com" class="social-icons__link social-icons__link--google" aria-label="Síguenos en Google+" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-icons__item">
          <a href="https://facebook.com" class="social-icons__link social-icons__link--facebook" aria-label="Síguenos en Facebook" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook-f" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-icons__item">
          <a href="https://twitter.com" class="social-icons__link social-icons__link--twitter" aria-label="Síguenos en Twitter" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
