.l-header {
  position: relative;
  width: 100%;
}

.l-main {
  width: 100%;
  min-height: 50vh;
}

.l-footer {
  width: 100%;
}

.l-section {
  width: 100%;
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-2xl);

  @media (width >= 768px) {
    padding-top: var(--spacing-3xl);
    padding-bottom: var(--spacing-3xl);
  }
}
