@layer framework, base, layout, modules, state, theme;

@layer framework {
  @import "dependencies";
}

@layer base {
  @import "base/reset";
  @import "base/colors";
  @import "base/variables";
  @import "base/responsive";
  @import "base/typography";
  @import "base/interactions";
}

@layer layout {
  @import "layout/container";
  @import "layout/structure";
}

@layer modules {
  @import "modules/header";
  @import "modules/footer";
  @import "modules/buttons";
  @import "modules/social-icons";
  @import "modules/logo";
  @import "modules/hero";
}

@layer state {
  @import "state/states";
}
